@charset "UTF-8";

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
}

#titleHeader {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.characterListDiv {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

#characterListDiv h2 {
  font-size: 24px;
  margin-top: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  margin-right: 10px;
  width: 100px;
}

input[type="text"], input[type="number"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul {
  list-style: none;
}

#output {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.findCharacter:hover {
  background-color: black; 
}

.findCharacter:active {
  background-color: black; 
  transform: translateY(1px);
}

.characterList:hover {
  background-color: black; 
}

.characterList:active {
  background-color: black; 
  transform: translateY(1px);
}

.updateCharacter:hover {
  background-color: orange; 
}

.updateCharacter:active {
  background-color: orange; 
  transform: translateY(1px);
}

.delectCharacter:hover {
  background-color: red; 
}

.delectCharacter:active {
  background-color: red; 
  transform: translateY(1px);
}

.addCharacter:hover {
  background-color: blue;
}

.addCharacter:active {
  background-color: blue;
  transform: translateY(1px);
}

button:hover {
  background-color: cocoa-brown;
 }

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

thead {
  background-color: black;
  color: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#newCharacterFormDiv {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#updateCharacterFormDiv {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#newCharacterFormDiv label {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

#newCharacterFormDiv input[type="text"], #newCharacterFormDiv input[type="number"] {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#newCharacterFormDiv button {
  font-size: 24px;
  padding: 10px 20px;
}
